#es5 {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

#es5 p {
  display: flex;
  height: 85vh;
  font-size: 2rem;
  word-spacing: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2.5rem;
  border: 1px black solid;
  font-family: 'Michroma', sans-serif;
}
